# dx files
.sf/
.sfdx/
.vim-force.com
.vscode/

# IntelliJ / Illuminated Cloud
.idea
*.iml
IlluminatedCloud

# mac system files
**/.DS_Store

# unnecessary entries
**/profilePasswordPolicies/**.*
**/profileSessionSettings/**.*

force-app/main/default/settings/
force-app/main/default/profiles/